<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>793820618013-1h122bcucgrh1vg2nu0kjhd198v8uim7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793820618013-1h122bcucgrh1vg2nu0kjhd198v8uim7</string>
	<key>API_KEY</key>
	<string>AIzaSyChyg9RMorzQaDgtnsl5Nk7YfycZA63vOs</string>
	<key>GCM_SENDER_ID</key>
	<string>793820618013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oforkanjiodekpe.Try-Scheduling</string>
	<key>PROJECT_ID</key>
	<string>tryscheduling</string>
	<key>STORAGE_BUCKET</key>
	<string>tryscheduling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793820618013:ios:18f27b193347134f</string>
	<key>DATABASE_URL</key>
	<string>https://tryscheduling.firebaseio.com</string>
</dict>
</plist>